/*
 * Globals
 */


/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
    color: #333;
    text-shadow: none; /* Prevent inheritance from `body` */
}


/*
 * Base structure
 */

body {
    text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
    box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
}

.cover-container {
    max-width: 70em;
}
span .Section_Title h2 .text-center {
    color: #22863a;
}

/*
 * Header
 */

.nav-masthead .nav-link {
    padding: .25rem 0;
    font-weight: 700;
    color: rgba(255, 255, 255, .5);
    background-color: transparent;
    border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
    border-bottom-color: rgba(255, 255, 255, .25);
}

.nav-masthead .nav-link + .nav-link {
    margin-left: 1rem;
}

.nav-masthead .active {
    color: #fff;
    border-bottom-color: #fff;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}





/*
 * for blog as board
 *****
 *
 **
 *
 *
 *
 */
.h-250 { height: 250px; }
@media (min-width: 768px) {
    .h-md-250 { height: 250px; }
}
$pri: #128CFC;
$sec: #fffffe;
$dark-pri: #0B5AA2;
* {
    box-sizing: border-radius;
    font-family: 'Rubik', sans-serif;
}
.container {
    border: 1px solid black;

    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    margin: auto;

    display: grid;
    place-items: center;
    background-color: $pri;
}

.items {
    width: 300px;
    background: $sec;
    box-shadow: 0 3px 6px rgba(black,0.16), 0 3px 6px rgba(black,0.23);
    border-top: 10px solid $dark-pri;
}

.items-head p{
    padding: 5px 20px;
    margin: 10px;
    color: #0B5AA2;
    font-weight: bold;
    font-size: 20px;
}

.items-head hr {
    width: 20%;
    margin: 0px 30px;
    border: 1px solid $dark-pri;
}

.items-body {
    padding: 10px;
    margin: 10px;
    display: grid;
    grid-gap: 10px;
}

.items-body-content {
    padding: 10px;
    padding-right: 0px;
    display: grid;
    grid-template-columns: 10fr 1fr;
    font-size: 13px;
    grid-gap: 10px;
    border: 1px solid transparent;
    cursor: pointer;

}

.items-body-content:hover {
    border-radius: 15px;
    border: 1px solid $dark-pri;
}

.items-body-content i {
    align-self: center;
    font-size: 15px;
    color: $dark-pri;
    font-weight: bold;
    animation: icon 1.5s infinite forwards;
}

@keyframes icon {
    0%,100%{
        transform: translate(0px);
    }
    50% {
        transform: translate(3px);
    }
}











